<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Spartan&display=swap" rel="stylesheet" />
    <link href="./main.css" rel="stylesheet" />
    <title>Document</title>
    <link href="./css/main.css" rel="stylesheet" />
    <title>Document</title>
</head>

<body>
    <div class="v138_173">
        <div class="v138_191">
            <div class="v138_174"></div>
            <div class="v138_199">
                <div class="v138_192"></div>
                <div class="v138_194"></div><span class="v138_195">Paran Wears</span>
                <div class="v138_198"></div><span class="v138_232">remove</span><span class="v138_196">N2,000</span>
            </div>
            <div class="v138_300">
                <div class="v138_301"></div><span class="v138_303">Complete Checkout</span>
            </div>
            <div class="v138_278">
                <div class="v138_279"></div>
                <div class="v138_280"></div><span class="v138_281">Paran Wears</span>
                <div class="v138_282"></div><span class="v138_283">remove</span><span class="v138_284">N2,000</span>
            </div>
            <div class="v138_285">
                <div class="v138_286"></div>
                <div class="v138_287"></div><span class="v138_288">Paran Wears</span>
                <div class="v138_289"></div><span class="v138_290">remove</span><span class="v138_291">N2,000</span>
            </div>
            <div class="v138_292">
                <div class="v138_293"></div>
                <div class="v138_294"></div><span class="v138_295">Paran Wears</span>
                <div class="v138_296"></div><span class="v138_297">remove</span><span class="v138_298">N2,000</span>
            </div><span class="v138_190">Cart</span><span class="v138_307">N 15,000</span>
        </div>
        <div class="v138_181">
            <div class="v138_175"></div>
            <div class="v138_182">
                <div class="v138_233">
                    <div class="v138_177"></div>
                    <div class="v138_230"></div><span class="v138_231">Platinum Wears</span>
                    <div class="v138_237">
                        <div class="v138_235"></div><span class="v138_236">+
                            add</span>
                    </div><span class="v138_234">lorem ipsum dolor, lorem
                        lorem ipsum dolor, ipsum</span>
                </div>
                <div class="v138_254">
                    <div class="v138_255"></div>
                    <div class="v138_256"></div><span class="v138_257">Platinum Wears</span>
                    <div class="v138_258">
                        <div class="v138_259"></div><span class="v138_260">+
                            add</span>
                    </div><span class="v138_261">lorem ipsum dolor, lorem
                        lorem ipsum dolor, ipsum</span>
                </div>
                <div class="v138_238">
                    <div class="v138_239"></div>
                    <div class="v138_240"></div><span class="v138_241">Platinum Wears</span>
                    <div class="v138_242">
                        <div class="v138_243"></div><span class="v138_244">+
                            add</span>
                    </div><span class="v138_245">lorem ipsum dolor, lorem
                        lorem ipsum dolor, ipsum</span>
                </div>
                <div class="v138_262">
                    <div class="v138_263"></div>
                    <div class="v138_264"></div><span class="v138_265">Platinum Wears</span>
                    <div class="v138_266">
                        <div class="v138_267"></div><span class="v138_268">+
                            add</span>
                    </div><span class="v138_269">lorem ipsum dolor, lorem
                        lorem ipsum dolor, ipsum</span>
                </div>
                <div class="v138_246">
                    <div class="v138_247"></div>
                    <div class="v138_248"></div><span class="v138_249">Platinum Wears</span>
                    <div class="v138_250">
                        <div class="v138_251"></div><span class="v138_252">+
                            add</span>
                    </div><span class="v138_253">lorem ipsum dolor, lorem
                        lorem ipsum dolor, ipsum</span>
                </div>
                <div class="v138_270">
                    <div class="v138_271"></div>
                    <div class="v138_272"></div><span class="v138_273">Platinum Wears</span>
                    <div class="v138_274">
                        <div class="v138_275"></div><span class="v138_276">+
                            add</span>
                    </div><span class="v138_277">lorem ipsum dolor, lorem
                        lorem ipsum dolor, ipsum</span>
                </div>
            </div>
        </div>
        <div class="v138_188">
            <div class="v138_176"></div>
            <div class="v138_189"></div><span class="v138_187">TechQuest Backend Capstone</span>
        </div><span class="v138_299">Total</span>
    </div>
</body>

</html>