<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to the EJS Homepage: <%= first_name + ' ' + last_name %></h1>
    <p>This user is from <%= country %></p>


    <form action="/" method="POST">
        <input type="text" name='firstname' placeholder="Enter First Name">
        <input type="text" name='lastname' placeholder="Enter Last Name">
        <input type="text" name='country' placeholder="Enter Country">
        <input type="number" name='count' placeholder="Enter Count">
        <input type="submit" value='Submit'>
    </form>
  
</body>
</html>

















  